.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #000000;
}

.title {
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: linear-gradient(to right,#f2bde8,#e65386);
}