.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 7px solid #000000;
}

.title {
    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, white, #f2bde8);
}